<h1>Worksheets</h1>

<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>

<%= link_to "Add new worksheet", admin_new_product_path %>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Active?</th>
      <th>PDF attached?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td>₹<%= product.price_in_paise / 100.0 %></td>
        <td><%= product.active? ? "Yes" : "No" %></td>
        <td><%= product.worksheet_pdf.attached? ? "Yes" : "No" %></td>
        <td>
          <%= link_to "Edit", admin_edit_product_path(product) %>
          |
          <%= link_to "Delete", admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
